.cart {
  width: 100%;
  padding: 24px 32px;
  border: 1px solid gray;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1{
    font-size: 20px;
  }
  img {
    width: 100px;
    height: 100px;
  }
  h2 {
    font-size: 16px;
  }
}

.empty {
  margin-top: 24px;
  font-size: 24px;
  line-height: 30px;
  color: white;
}
.product {
  width: max-content;
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 8px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.item {
  img {
    border-radius: 8px;
  }
  border: 1px solid grey;
  border-radius: 8px;
  width: 100%;
  gap: 10px;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
}


.info {
  max-width: 200px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}


.category {
  font-size: 12px;
  line-height: 12px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 18px;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity span {
  width: 40px;
  text-align: center;
  font-size: 15px;
  line-height: 17px;
  color: white;
}

.minus,
.plus {
  border-radius: 6px;
  border: 1px solid grey;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  svg {
    fill: white; 
  }
  &:hover {
    border-color: #BB86FC;
    svg {
      stroke: #BB86FC;
      fill: #BB86FC; 
    }
  }
}

.quantity svg {
  width: 17px;
  height: 17px;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close svg {
  width: 16px;
  height: 16px;
  // stroke: white;
}

.close:hover svg {
  stroke: #BB86FC;
}

.actions {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.total {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.infoPrice{
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

@media (max-width: 1200px) {
  .info {
    h2{
      font-size: 13px;
    }
  }
}

@media (max-width: 992px) {
  .product {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .info{
    margin: 0;
  }
}

@media (max-width: 841px) {
  .product{
    width: 100%;
    align-items: center;
  }
  .item{
    align-items: center;
    flex-direction: column;
  }
  .info{
    max-width: 100%;
  }
  .close svg{
    position: absolute;
    top: 200px;
  }
}


@media (max-width: 768px) {
  .product{
    width: 100%;
    align-items: center;
  }
  .item{
    align-items: center;
    flex-direction: unset;
  }
  .info{
    max-width: 100%;
  }
  .close svg{
    position: absolute;
    top: 200px;
  }
}


@media (max-width: 530px) {
  .product{
    img{
      width: 200px;
      height: 200px;
    }
  }
  .item{
    flex-direction: column;
  }
  .close svg{
    top: 186px;
    right: 105px;
  }

  .infoPrice{
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .close svg{
    top: 155px;
    right: 50px;
  }
}