
.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}
.cardWrapp {
  border: 1px solid grey;
  width: 30%;
  border-radius: 8px;
}



.image {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}


.wrapper {
  min-height: 170px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.butButton {
  display: flex;
  justify-content: flex-start;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}