
.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  .cardWrapp {
    border: 1px solid grey;
    width: 20%;
    border-radius: 8px;
    .image {
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      width: 100%;
      height: auto;
    }
  }
}


.wrapper {
  height: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}


.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  .buyButton {
    display: flex;
    justify-content: flex-start;
    width: 30%;
  }
}