.wrapper {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  background: #121212;
  border-radius: 10px;
  padding: 24px;
  box-shadow: 0px 0px 15px 8px rgb(14, 13, 13);
  z-index: 99;

  .title {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: white;
    text-align: center;
  }

  .form {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    .group input {
      width: 100%;
      background: #212123;
      border-radius: 8px;
      color: white;
      padding: 12px 24px;
    }
  }

  .close {
    position: absolute;
    top: 14px;
    right: 14px;
    z-index: 9;
    cursor: pointer;
  }

  .link {
    font-size: 13px;
    color: white;
    cursor: pointer;
    text-align: center;

    &:hover {
      color: #BB86FC;
    }
  }
}


@media (max-width:600px) {
  .wrapper {
    width: 280px;
  }
}