.App {
  margin: 20px 30px;
}


.container {
  width: 100%;
  display: flex;
  gap: 30px;
  margin-top: 90px;
}

.cardsWrapp {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 992px) {
  .container{
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .container{
    // align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .App {
    margin: 8px 10px;
  }
}


@media (max-width: 481px) {
  .App {
    margin: 8px 5px;
  }
}