.title {
  font-size: 20px;
  margin-bottom: 20px;
}
.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  .cardWrapp {
    background: rgb(38, 37, 37);
    width: 16%;
    border-radius: 8px;
    .image {
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      width: 100%;
      height: auto;
    }
  }
}

.price{
  font-size: 14px;
}

.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.favourites{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.removeBtn {
  margin-top: 10px;
}