.sidebar {
  min-width: 300px;
  border-radius: 8px;
  padding: 10px 20px;
  height: 500px;
  background: rgb(38, 37, 37);
}

.title {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 22px;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

.active {
  color: grey;
}

.link:hover {
  color: #BB86FC;
}
@media (max-width: 1600px) {
  .sidebar {
    min-width: 250px;
  }
}
@media (max-width: 992px) {
  .sidebar {
    min-width: 200px;
    h1{
      font-size: 18px;
    }
    a{
      font-size: 15px;
    }
  }
}


@media (max-width: 768px) {
  .sidebar {
    height: 100vh;
    left: 0px;
    top: 62px;
    display: none;
  }
  .open {
    display: block;
    position: fixed;
  }

}



@media (max-width: 480px) {
  .sidebar {
    display: none;
  }
}